In [54]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn import metrics

In [78]:
df = pd.read_csv("Regression Data - Sheet1.csv")

In [79]:
correlation = df["Rank"].corr(df["Units"])
print(correlation)

# we have negative relationship between data > will use KNN model, not linear regression

-0.4517504492074855

In [62]:
x = df["Rank"].values
y = df["Units"].values

In [63]:
model = KNeighborsClassifier(n_neighbors=3)

In [73]:
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [74]:
model.fit(X_train.reshape(-1, 1), y_train)

KNeighborsClassifier(n_neighbors=3)

In [75]:
#Predict for test dataset
y_pred = model.predict(X_test.reshape(-1, 1))

# Model Accuracy
print("Accuracy:", metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.45364238410596025

In [76]:
#predict values for a new dataset
df1 = df.sample(n=100)

x1 = df1["Rank"].values # values from new df
y_pred_2 = model.predict(x1.reshape(-1, 1)) # y_pred_2 = predicted values from model

df1["Test_units"] = y_pred_2 #assign new values to a column

In [77]:
df1

       Rank  Units  Test_units
1308  11913     19          18
139     146    420         422
745    1195    108         107
76       77    584         581
647     848    136         133
...     ...    ...         ...
649     860    136         135
1044   3824     45          45
1350  14262     16          16
181     191    359         358
1082   4486     40          40

[100 rows x 3 columns]